.customer-reviews {
    background-image: url(../images/customer-reviewes/bg-customers-mob-1x.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    @include retina {
        background-image: url(../images/customer-reviewes/bg-customers-mob-2x.png);
    }

    @include tablet{
        background-image: url(../images/customer-reviewes/bg-customers-tablet-1x.png);
        
        @include retina {
            background-image: url(../images/customer-reviewes/bg-customers-tablet-2x.png);
            }
    }

    @include desktop {
        background-image: url(../images/customer-reviewes/bg-customers-desk-1x.png);

        @include retina {
            background-image: url(../images/customer-reviewes/bg-customers-desk-2x.png);
        }
    }

    @media screen and (min-width: 1920px) {
        background-image: url(../images/customer-reviewes/ice-cream-bg-x1.png);
        
        @include retina {
            background-image: url(../images/customer-reviewes/ice-cream-bg-x2.png);
        }
    }
}

.customer-reviews{
    padding-top: 186px;
    padding-bottom: 394px;

    @include tablet {
        padding-top: 223px;
        padding-bottom: 384px;
    }
    @include desktop {
        padding-top: 456px;
        padding-bottom: 196px;
    }
}

.customer-reviews__container {
    @include desktop{
        padding: 0 116px;
    }
}


.customer-reviews__image {
    margin: 0 auto 32px auto;
    border-radius: 50%;

    @include tablet{
        margin-bottom: 28px;
    }

    @include desktop {
        margin-bottom: 32px;
    }

}


.customer-reviews__text {
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    color: var(--light-color);

    padding: 34px 39px;
    background-color: var(--primary-bg-color);
    border-radius: 10px;
    margin-bottom: 30px;

    @include tablet{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.86;
    
        letter-spacing: 0.04em;
                    
        margin-bottom: 32px;
        padding: 29px 80px 28px 80px;
    }

    @include desktop {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.86;

        margin-bottom: 32px;
        padding: 39px 109px 47px 109px;
    }
}


.customer-reviews__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.85;
    text-align: center;
}

.swiper-pagination {
    position: static;
    margin-top: 14px;

    @include tablet{
        margin-top: 32px;
    }
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    ;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-bg-color);
}