<div class="about-backdrop is-hidden" data-modal-about>
  <div class="about-modal">
    <button type="button" class="about-modal-close" data-modal-about-close>
      <svg class="about-close-icon" width="11" height="11">
        <use href="./images/svg-footer/sprite.svg.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="modal-title">How it’s made?</h3>
    <iframe
      width="448"
      height="205"
      src="https://www.youtube.com/embed/-dCVC9k5xMg"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="modal-iframe"
    ></iframe>
    <p class="modal-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
