<section class="contacts">
  <div class="container some-container">
    <h2 class="contacts-title visually-hidden" id="contact">Contacts</h2>
    <div class="contacts-containers">
      <div class="contacts-container">
        <p class="contacts-representations">Cafe</p>
        <div class="contacts-adress-border">
          <ul class="contacts-information">
            <li class="contacts-name">Chicago</li>
            <li class="contacts-adress">
              10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
            </li>
          </ul>
        </div>
        <div class="contacts-adress-border">
          <ul class="contacts-schedule">
            <li class="contacts-day">Monday - Friday</li>
            <li class="contacts-time">06:00 AM - 10:00 PM</li>
            <li class="contacts-day">Saturday - Sunday</li>
            <li class="contacts-time">08:00 AM - 16:00 PM</li>
          </ul>
        </div>

        <ul class="contacts-nav">
          <li>
            <a class="contacts-link" href="tel:+610383766284">
              +61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="contacts-link" href="mailto:noreply@envato.com">
              noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
      <div class="contacts-container">
        <p class="contacts-representations foodtruck">foodtruck</p>
        <div class="contacts-adress-border">
          <ul class="contacts-information">
            <li class="contacts-name">Los Angeles</li>
            <li class="contacts-adress">
              1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
            </li>
          </ul>
        </div>
        <div class="contacts-adress-border">
          <ul class="contacts-schedule">
            <li class="contacts-day">Monday - Friday</li>
            <li class="contacts-time">06:00 AM - 10:00 PM</li>
            <li class="contacts-day">Saturday - Sunday</li>
            <li class="contacts-time">08:00 AM - 16:00 PM</li>
          </ul>
        </div>

        <ul class="contacts-nav">
          <li>
            <a class="contacts-link" href="tel:+610383766284">
              +61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="contacts-link" href="mailto:noreply@envato.com">
              noreply@envato.com</a
            >
          </li>
        </ul>
      </div>

      <div class="contacts-container">
        <p class="contacts-representations">Cafe</p>
        <div class="contacts-adress-border">
          <ul class="contacts-information">
            <li class="contacts-name">New York</li>
            <li class="contacts-adress">
              726 Sterling Pl, Brooklyn, NY 11222, USA
            </li>
          </ul>
        </div>
        <div class="contacts-adress-border">
          <ul class="contacts-schedule">
            <li class="contacts-day">Monday - Friday</li>
            <li class="contacts-time">06:00 AM - 10:00 PM</li>
            <li class="contacts-day">Saturday - Sunday</li>
            <li class="contacts-time">08:00 AM - 16:00 PM</li>
          </ul>
        </div>

        <ul class="contacts-nav">
          <li>
            <a class="contacts-link" href="tel:+610383766284">
              +61(0) 383 766 284</a
            >
          </li>
          <li>
            <a class="contacts-link" href="mailto:noreply@envato.com">
              noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="contacts-btn">
      <button
        class="primary-btn location-btn"
        type="button"
        data-modal-location-open
      >
        Our Locations
        <svg class="menu-svg-one" width="12" height="12">
          <use href="./images/svg-footer/sprite.svg.svg#icon-button-ice"></use>
        </svg>
        <svg class="menu-svg-two" width="12" height="12">
          <use
            href="./images/svg-footer/sprite.svg.svg#icon-button-arrow"
          ></use>
        </svg>
      </button>
      <button
        class="location-btn modal__send-button"
        type="button"
        data-modal-franchise-open
      >
        Franchise
      </button>
    </div>
  </div>
</section>
