<section class="customer-reviews">
  <div class="customer-reviews__container container">
    <h2 class="visually-hidden">Відгуки клієнтів</h2>
    <div class="swiper">
      <ul class="customer-reviews__list swiper-wrapper">
        <li class="customer-reviews__item swiper-slide">
          <picture class="customer-reviews__picture">
            <source
              srcset="
                ./images/customer-reviewes/customer1-1x-min.jpg 1x,
                ./images/customer-reviewes/customer1-2x-min.jpg 2x
              "
            />
            <img
              class="customer-reviews__image"
              src="./images/customer-reviewes/customer1-1x-min.jpg"
              alt="Зображення клієнта"
            />
          </picture>
          <p class="customer-reviews__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <h3 class="customer-reviews__title">Emily, Los Angeles</h3>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <picture class="customer-reviews__picture">
            <source
              srcset="
                ./images/customer-reviewes/customer2-1x-min.jpg 1x,
                ./images/customer-reviewes/customer2-2x-min.jpg 2x
              "
            />
            <img
              class="customer-reviews__image"
              src="./images/customer-reviewes/customer2-1x-min.jpg"
              alt="Зображення клієнта"
            />
          </picture>
          <p class="customer-reviews__text">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
          <h3 class="customer-reviews__title">Sam, Los Angeles</h3>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <picture class="customer-reviews__picture">
            <source
              srcset="
                ./images/customer-reviewes/customer3-1x-min.jpg 1x,
                ./images/customer-reviewes/customer3-2x-min.jpg 2x
              "
            />
            <img
              class="customer-reviews__image"
              src="./images/customer-reviewes/customer3-1x-min.jpg"
              alt="Зображення клієнта"
            />
          </picture>
          <p class="customer-reviews__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
          <h3 class="customer-reviews__title">Diana, Chicago</h3>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <picture class="customer-reviews__picture">
            <source
              srcset="
                ./images/customer-reviewes/customer4-1x-min.jpg 1x,
                ./images/customer-reviewes/customer4-2x-min.jpg 2x
              "
            />
            <img
              class="customer-reviews__image"
              src="./images/customer-reviewes/customer4-1x-min.jpg"
              alt="Зображення клієнта"
            />
          </picture>
          <p class="customer-reviews__text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
          <h3 class="customer-reviews__title">Bryan, New-York</h3>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
