<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="caption-footer">
        <p class="caption-footer-1">HOMEMADE ICE CREAM MADE</p>
        <p class="caption-footer-2">WITH PASSION</p>
      </div>

      <div class="footer-right">
        <ul class="social-list">
          <li class="social-list-items">
            <a href="#" class="social-link-footer" aria-label="GitHub">
              <svg class="social-icon" width="20" height="20">
                <use
                  href="./images/svg-footer/sprite.svg.svg#icon-Vector"
                ></use>
              </svg>
            </a>
          </li>
          <li class="social-list-items">
            <a href="#" class="social-link-footer" aria-label="Telegram">
              <svg class="social-icon" width="20" height="20">
                <use
                  href="./images/svg-footer/sprite.svg.svg#icon-telegram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="social-list-items">
            <a href="#" class="social-link-footer" aria-label="Facebook">
              <svg class="social-icon" width="20" height="20">
                <use
                  href="./images/svg-footer/sprite.svg.svg#icon-facebook"
                ></use>
              </svg>
            </a>
          </li>
        </ul>

        <div class="phone">
          <p class="phone-text">Feel free to contact</p>
          <a class="phone-number" href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          >
        </div>
      </div>
    </div>

    <div class="text-footer">
      <p class="text">©2022 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
