<section class="gallery">
  <div class="gallery__container container">
    <h2 class="visually-hidden">Галерея</h2>
    <ul class="gallery__list fader" id="my-keen-slider">
      <li class="gallery__item keen-slider__slide">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-3-min.jpg"
          alt="зображення галереї"
        />
      </li>
      <li class="gallery__item keen-slider__slide">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-2-min.jpg"
          alt="зображення галереї"
        />
      </li>
      <li class="gallery__item keen-slider__slide">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-1-min.jpg"
          alt="зображення галереї"
        />
      </li>
      <li class="gallery__item keen-slider__slide">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-6-min.jpg"
          alt="зображення галереї"
        />
      </li>
      <li class="gallery__item keen-slider__slide">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-5-min.jpg"
          alt="зображення галереї"
        />
      </li>
      <li class="gallery__item keen-slider__slide">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-4-min.jpg"
          alt="зображення галереї"
        />
      </li>
      <li class="gallery__item keen-slider__slide">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-7-min.jpg"
          alt="зображення галереї"
        />
      </li>
      <li class="gallery__item keen-slider__slide">
        <img
          class="gallery__image"
          src="./images/gallery/ice-cream-8-min.jpeg"
          alt="зображення галереї"
        />
      </li>
    </ul>
  </div>
</section>
