<section class="hero">
  <div class="container background">
    <div class="hero-main-block">
      <div class="hero-left-block">
        <h1 class="hero-title animate__animated animate__zoomIn">
          ice cream made with <span>passion</span>
        </h1>

        <div class="hero-form">
          <a href="#products" class="secondary-btn">Products</a>
          <a href="#about" class="hero-about-link link">How it’s made?</a>
        </div>
      </div>

      <div class="benefits">
        <div class="benefits-block">
          <div class="benefits-item counter">16</div>
          <span class="benefits-item-text">cafes</span>
        </div>
        <div class="benefits-block">
          <div class="benefits-item counter">23</div>
          <span class="benefits-item-text">food trucks</span>
        </div>
      </div>
    </div>

    <div class="hero-text-block">
      <p class="hero-text">
        We have a huge selection of 100% natural ice cream for every taste and
        color. Just make your choice
      </p>
      <button
        type="button"
        class="hero-btn"
        aria-label="Animates the plate"
      ></button>
      <div class="plate-bg"></div>
    </div>
  </div>
</section>
