<div class="modal-location-backdrop is-hidden container" data-modal-location>
  <div class="modal-location">
    <button
      type="button"
      class="modal-location-close"
      data-modal-location-close
    >
      <svg class="modal-location-svg" width="11.11px" height="11.14px">
        <use href="./images/svg-footer/sprite.svg.svg#icon-cross"></use>
      </svg>
    </button>
    <h3 class="modal-title-location">Our Locations</h3>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d204025.811217355!2d-122.08683635576492!3d36.9643662519738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e1558b4c18fcd%3A0xe18bcf0fe7a40161!2sPolar%20Bear%20Ice%20Cream!5e0!3m2!1suk!2sua!4v1663659407497!5m2!1suk!2sua"
      width="448"
      height="260"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="modal-location-map"
    ></iframe>
    <a
      href="https://goo.gl/maps/qjrmH2vBP5amE4fk7"
      class="primary-btn open-map-btn"
      >One map</a
    >
  </div>
</div>
