<section class="section products-section overlay">
  <div class="container products">
    <p class="products-pretitle">100% natural</p>
    <h2 id="products" class="products-title">products</h2>
    <ul class="products-list">
      <li class="products-item">
        <h3 class="products-item-title">ice cream</h3>
        <p class="products-item-text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          class="products-button"
          type="button"
          aria-label="Opens a window with ingredients"
          data-modal-ingrid-open
        ></button>
      </li>
      <li class="products-item">
        <h3 class="products-item-title">ice coffee</h3>
        <p class="products-item-text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          class="products-button"
          type="button"
          aria-label="Opens a window with ingredients"
          data-modal-ingrid-open-1
        ></button>
      </li>
      <li class="products-item">
        <h3 class="products-item-title">milkshakes</h3>
        <p class="products-item-text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          class="products-button"
          type="button"
          aria-label="Opens a window with ingredients"
          data-modal-ingrid-open-2
        ></button>
      </li>
    </ul>
  </div>
</section>
